<!DOCTYPE  html>
<html  lang="en">
<head>
    <title >{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" media="all"/>
</head>
<body>
    <div class= "banner">
        <center>
        <img src = "../static/img/banner.jpg">
        </center>
    </div>
    <nav>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
            <a href="register"><i class="fa fa-fw fa-user"></i> Register</a>
        </div>
    </nav>
    <p>
        TEST
    </p>
</body>
<footer>
    <center>
        Coded and designed by ....
    </center>
</footer>
</html>